<launch>

  
  <arg name="world" default="$(find talos_cartesio_config)/mujoco/config/world.xml"/>
  <arg name="simopt" default="$(find talos_cartesio_config)/mujoco/config/options.xml"/>
  <arg name="sites" default="$(find talos_cartesio_config)/mujoco/config/sites.xml"/>
  <arg name="ctrlcfg" default="$(find talos_cartesio_config)/mujoco/config/talos.yaml"/>
  <arg name="urdffile" default="$(find talos_cartesio_config)/robots/talos.urdf"/>

  <node pkg="talos_cartesio_config" type="simulator_wrapper.bash" name="talos_mujoco"
    args="--name talos --urdf $(arg urdffile) --world $(arg world) --simopt $(arg simopt) --ctrlcfg $(arg ctrlcfg) --sites $(arg sites)"/>

</launch>
